<div class="relative h-[500px] bg-cover bg-center" style="background-image: url(<%= asset_path('top.png') %>)">
  <div class="absolute inset-0 flex items-center justify-center bg-black/40">
  </div>
</div>